<html>
  <head>
    <title>Calendar Redactor</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
    <style>
      body {
        font-family: "Open Sans", arial, sans-serif;
      }
    </style>
  </head>
  <body>
    <h1>Calendar Redactor</h1>
    <table>
      <tr>
        <th>Original URL</th>
        <th>Redacted URL</th>
      </tr>
      <% urls.each_with_index do |url, i| %>
        <tr>
          <td style="font-size: 8pt; width: 200px;"><%= url %></td>
          <td style="width: 500px;"><textarea style="width: 500px; height: 40px;"><%="https://#{request.env['HTTP_HOST']}"%>/<%= hshs[i] %></textarea></td>
        </tr>
      <% end %>
    </table>

    <p>
      <strong>For use in Heorku config:</strong><br>
      <textarea name="" id="" cols="30" rows="10"><%= hshs.map{|h| "https://#{request.env['HTTP_HOST']}/#{h}"}.join('|') %></textarea>
    </p>

    <p>
      <strong>Licensed under the MIT license. There is no guarantee that your calendar files will be properly redacted. Use at your own risk.</strong>
      <pre>The MIT License (MIT)

Copyright (c) 2013 Max Mansick

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
the Software, and to permit persons to whom the Software is furnished to do so,
subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
      </pre>
    </p>
  </body>
</html>